body,
html,
#root,
#landing {
  margin: 0px;
  /* background-image: url("./public/images/map.png"); */
  background-repeat: repeat;
  height: 100%;
  overflow: hidden;
  font-family :'heiroflightotfbold';
  
}

@font-face {
  font-family: 'heiroflightotfbold';
  src: url('/public/fonts/heiroflightotfbold.otf');
  font-style: normal;
}

button{
    outline: none;
    background-color: transparent;
    border: none;
    
}

button,input,textarea{
  font-family :'heiroflightotfbold';
}