.common-btn {
    border: none;
    width: fit-content;
    padding:0px 8px;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
}

.modal{
    position: relative;
}

.modal .modal-close-btn{
    position: absolute;
    top:8px;
    right:8px;
}