.player {
  width: 50px;
  height: 50px;
  background-image: url("../../public/images/player.png");
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-size: cover;
  transition: all 0.3s linear;
}

.map {
  width: 100%;
  height: 100vh;
  background-image: url("../public/images/diablo\ tile.png");
}

.low-monster {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  background-image: url("../../public/images/monster/pngegg.png");
  background-size: cover;
  transition: all 1s linear;
}

.bullet {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background: rgb(0, 42, 255);
  background: radial-gradient(
    circle,
    rgba(0, 42, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

#bullet {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background: rgb(0, 42, 255);
  background: radial-gradient(
    circle,
    rgba(0, 42, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
