.player {
  width: 50px;
  height: 50px;
  background-image: url("../../public/images/player.png");
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-size: cover;
  transition: all 0.3s linear;
}

.map {
  width: 100%;
  height: calc(100vh - 255px);
  background-image: url("../public/images/diablo\ tile.png");
}

.low-monster {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  background-image: url("../../public/images/monster/pngegg.png");
  background-size: cover;
  transition: all 1s linear;
}

.bullet {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background: rgb(0, 42, 255);
  background: radial-gradient(
    circle,
    rgba(0, 42, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

#bullet {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background: rgb(0, 42, 255);
  background: radial-gradient(
    circle,
    rgba(0, 42, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.player-status-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: beige;
}

.player-status {
  display: flex;
  height: 255px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px 20px;
}

.player-hp-container,
.player-mp-container {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}
.player-hp-top {
  width: 150px;
}
.player-hp,
.player-mp {
  position: absolute;
  bottom: 0;
}

.player-hp {
  background-color: red;
}

.player-mp {
  background-color: blue;
}
