.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.not-visible {
  opacity: 0;
}

.splash-screen {
  animation: fade-out 1s ease-out forwards;
}

#modal {
  /* background-color: rgba(239, 250, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  flex-direction: column; */
}

input {
  border: none;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 4px 12px;
}

#auth {
  width: 100%;
}
#signin-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 8px;
}

#signin-button,
#signup-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  background-image: none;
  border: 1px solid #dadce0;
  color: #3c4043;
  cursor: pointer;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 14px;
  height: 40px;

  outline: none;
  overflow: hidden;
  padding: 4px 12px;
  text-align: center;
  width: 100%;
  border-radius: 4px;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(239, 250, 255);
  background: radial-gradient(
    circle,
    rgba(239, 250, 255, 1) 6%,
    rgba(0, 42, 255, 1) 42%
  );
}
#ladning-screen {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player {
  width: 80px;
  height: 80px;
  background-image: url("/public/images/player/pause.png");
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  background-size: cover;
  background-position: center;
  transition: all 0.3s linear;
}

.player.move {
  background-image: url("/public/images/player/run1.png");
  animation: playerMove 0.8s infinite;
}

@keyframes playerMove {
  0% {
    background-image: url("/public/images/player/run1.png");
  }

  50% {
    background-image: url("/public/images/player/run2.png");
  }

  100% {
    background-image: url("/public/images/player/run3.png");
  }
}

.player.attack {
  animation: playerAttack 0.5s;
}

@keyframes playerAttack {
  0% {
    background-image: url("/public/images/player/attack1.png");
  }

  50% {
    background-image: url("/public/images/player/attack2.png");
  }

  100% {
    background-image: url("/public/images/player/attack3.png");
  }
}

.reverse-direction {
  transform: scaleX(-1);
}

.original-direction {
  transform: scaleX(1);
}

.map-container {
  min-width: 100%;
  width: auto;
  height: auto;
}

.map {
  width: 100%;
  height: 100vh;
  background-image: url("../public/images/diablo\ tile.png");
}

.enemy {
  position: absolute;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.slime {
  width: 50px;
  height: 50px;
  background-image: url("/public/images/monster/slime.png");
  transition: all 1s linear;
}

.goblin {
  width: 50px;
  height: 50px;
  background-image: url("/public/images/monster/goblin.png");
  transition: all 1s linear;
}

.player-hit-damage {
  position: absolute;
  animation: goToUpsideWithFadeOut 0.6s forwards;
  font-size: 40px;
  color: red;
  opacity: 1;
}

@keyframes goToUpsideWithFadeOut {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 1;
    transform: translate(0px, -50px);
  }

  100% {
    transform: translate(0px, -50px);
    display: none;
  }
}

.bullet {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-image: url("/public/images/bullet/default.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hit {
  opacity: 50%;
  transition: all 0.5s;
}

.enemy-destroyed {
  animation: fade-out 1s;
}

.player-status-bar-container {
  position: absolute;
  z-index: 999;
  width: 180px;
  height: 180px;
  bottom: 40px;
  left: 130px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.player-status-bar-arti {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  position: relative;
  width: 100%;
  height: 100%;
}

.player-status-bar-arti-left,
.player-status-bar-arti-right {
  position: absolute;
  z-index: 1002;
  width: 300px;
  height: 100%;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.player-status-bar-arti-left {
  background-image: url("/public/images/gameUi/bar-left.png");
  left: -20px;
}

.player-status-bar-arti-right {
  background-image: url("/public/images/gameUi/bar-right.png");
}

.player-hp-container,
.player-mp-container {
  position: absolute;
  width: 180px;
  height: 180px;
  background-image: url("/public/images/gameUi/empty-portion.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: 1001;
  overflow: hidden;
}

.player-hp-real-container {
  position: absolute;
  width: 180px;
  height: 180px;

  border-radius: 50%;
  overflow: hidden;
}

.player-mp-container {
  right: 130px;
}

.player-hp {
  position: absolute;
  width: 180px;
  height: 180px;
  z-index: 1000;
  bottom: 0;
  background-color: red;
}

.portal {
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url("/public/images/portal.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.portal.north {
  top: 5%;
  right: 50%;
}

.portal.east {
  top: 35%;
  right: 5%;
}
.portal.south {
  bottom: 5%;
  right: 50%;
}
.portal.west {
  top: 35%;
  left: 5%;
}

#map-id {
  position: fixed;
  top: 20px;
  right: 20px;
}

.change-map-ui {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: fade-in-out 1s forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: none;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: none;
  }
}

.clicked {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #b8dfff;
  background-color: transparent;
  animation: clicked 1s;
}

@keyframes clicked {
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: scale(0.8, 0.8);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    transform: scale(0.6, 0.6);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: scale(0.4, 0.4);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    transform: scale(0.2, 0.2);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
}

#inventory-toggle-btn {
  position: fixed;
  top: 40px;
  right: 40px;
  border: none;
  background-color: white;
  width: 70px;
  height: 40px;
  border-radius: 25px;
}

#inventory-toggle-btn {
  right: 120px;
  width: 90px;
}

#inventory {
  background-color: white;
  text-align: right;
  width: 300px;
  height: 300px;
  padding: 24px;
}

#inventory-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  height: 100%;
}

#item-container {
  display: flex;
}

#gold-container {
  display: flex;
}

#gold {
  margin-left: 16px;
}

.bullet-hit {
  width: 70px;
  height: 70px;
  background-image: url("/public/images/bullet/hit.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  animation: fade-in-out 1s forwards;
  position: absolute;
  left: 0;
  bottom: 0;
}

.add-gold {
  position: absolute;
  color: yellow;
  /* animation: goToUpsideWithFadeOut 1s forwards; */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
